.heading
  &--title
    align-items: center
    display: flex
    font-size: 2.5rem
    padding-bottom: 1.5rem
    
  &--subtitle
    align-items: center
    display: flex
    font-size: 2rem
    padding-bottom: 1rem
    
  &--intertitle
    align-items: center
    display: flex
    font-size: 1.5rem
    padding-bottom: 0.5rem
