.search
  margin-left: 1rem
  padding-right: 0.5rem
  width: 100%

  @media (min-width: 768px)
    padding-right: 0
    width: 33%

  &__form
    max-width: 495px
    position: relative
    width: 100%

  &__input
    border: hidden
    border-radius: 2px
    height: 30px
    padding-left: 10px
    width: 100%
    
  &__go
    align-items: center
    background: transparent
    border: hidden
    cursor: pointer
    display: flex
    height: 30px
    justify-content: center
    position: absolute
    right: 0
    top: 0
    top: 2px
    transform: translateX(2px)
    z-index: 2
